body {
  background-color: rgb(237, 228, 228);
}

h1 {
  text-align: center;
}

.sum-container, .year-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sumBoxDiv, .yearBoxDiv {
  display: flex;
  justify-content: center;
}

.year-container, .your-costs {
  display: flex;
  justify-content: center;
}

input[type='number']{
  width: 200px;
}

#yearRate {
  text-align: center;
}


.cost-container {
  margin: auto;
  text-align: center;
  border: 5px solid black;
  font-size: 50px;
  width: 800px;
  background-color: rgb(48, 110, 203);
}

